<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" style="height:100vh">
  <div fxLayout="row" fxLayoutAlign="center">
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button class="btn btn-lg btn-outline-primary" (click)="openInsert()">Insertar Articulo</button>
    <button class="btn btn-lg btn-outline-primary" (click)="openUpdate()">Editar Articulo</button>
    <button class="btn btn-lg btn-outline-primary" (click)="openDelete()">Eliminar Articulo</button>
  </div>
</div>